a{
    text-decoration: none;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid #1c2331;
}
.nav-link:hover{
    color: orangered!important;

}
.banner{
    position: relative;
    background-color: white;
}
.banner-title h1 {
    /* color: white; */
    font-size: 3em;
    font-weight: bold;
    margin: 10rem 0 1rem;
}
.banner-title p{
    margin-bottom: 3rem;
}
.underline{
    height: 2rem;
    width: 100%;
    margin: 6rem 0 6rem;
    background-color: orangered;
    /* box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75); */
}
.banner-img{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 30%;
}
.ban-btn{
    padding: 8px 20px;
    background-color: #1c2331;
    border: 2px solid orangered;
    border-radius: 30px;
    color: white;
}
.ban-btn:hover{
    background-color: orangered;
}

.head-img{
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    min-height: 18rem;
    text-align: center;
    border: 1px solid orangered;
}
.head-speech{
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    min-height: 18rem;
    text-align: justify;
}
.heading p{
    color: orangered;

}
.course-card{
    width: 22rem!important;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    padding: 5px 20px!important;
    margin: 10px!important;
    border: 1px solid orangered;
    color: white;
    background-color: #1c2331;
    border-radius: 10px;
}

/* about page */
.common-heading{
    height: 6em;
    background-color: orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.staff-card{
    margin: 0 auto;
    width: 18rem;
    border: 1px solid orangered;
}
.staff li{
    text-align: justify;
    border: 1px solid orangered;
}
/* about page */

/* contact page */

/* contact page */

/* faq page */
.box .box-head{
    background-color: orangered;
    padding: 15px;
    color: white;
    border-radius: 4px;
    position: relative;
}

.box .box-text{
    background-color: white;
    border-radius: 4px;
    padding: 0;
    margin-top: 5px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    
}

.box.active .box-text{
    height: auto;
    padding: 15px;
    transition: all 0.5s;
}

.box-head::before{
    content: "+";
    font-weight: 800;
    position: absolute;
    right: 20px;
}
/* faq page */