a{
    text-decoration: none;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid black;
}
main{
    width: 100%;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.banner{
    position: relative;
    background-color: white;
}
.banner-title h1 {
    /* color: white; */
    font-size: 3em;
    font-weight: bold;
    margin: 10rem 0 1rem;
}
.banner-title p{
    margin-bottom: 3rem;
}
.underline{
    height: 2rem;
    width: 100%;
    margin: 6rem 0 6rem;
    background-color: white;
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
}
.banner-img{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 30%;
}
.ban-btn{
    padding: 8px 16px;
    background-color: black;
    border: 1px solid orangered;
    border-radius: 30px;
    color: white;
}
.ban-btn:hover{
    background-color: orangered;
}

.head-img{
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 10px 5px 5px rgba(0,0,0,0.75);
    min-height: 18rem;
    text-align: center;
}
.head-speech{
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 10px 5px 5px rgba(0,0,0,0.75);
    padding: 20px;
    min-height: 18rem;
}
